@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*-- scss:defaults --*/

$font-family-sans-serif: "Merriweather", sans-serif;
$presentation-heading-color: #1f433c;
$code-block-font-size: 0.6em;
$presentation-h2-font-size: 1.4em;
$link-color: #df4638 !default;